<div class="main">
  <div class="container">
    <h3>Register</h3>
    <div class="account">
      <p>Already have an account?</p>
      <p routerLink="/login" class="anchor">Login</p>
    </div>

    <form #registerForm="ngForm" (ngSubmit)="register()">
      <div *ngIf="errorMessage" style="font-size:12px;color:red;margin-bottom:6px;">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" style="font-size:12px;color:green;margin-bottom:6px;">
        {{ successMessage }}
      </div>

      <label for="name">Name:</label>
      <input
        type="text"
        #nameInput="ngModel"
        required
        [(ngModel)]="name"
        name="name"
        placeholder="Your Name"
      />
      <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" style="font-size:12px;color:red;margin-bottom:6px;">
        <div *ngIf="nameInput.hasError('required')">
          Name is required
        </div>
      </div>

      <label for="email">Email:</label>
      <input
        type="email"
        #emailInput="ngModel"
        required
        [(ngModel)]="email"
        name="email"
        placeholder="example@yop.com"
      />
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" style="font-size:12px;color:red;margin-bottom:6px;">
        <div *ngIf="emailInput.hasError('required')">
          Email is required
        </div>
        <div *ngIf="emailInput.hasError('email')">
          Email is invalid
        </div>
      </div>

      <label for="password">Password:</label>
      <input
        type="password"
        minlength="8"
        #passwordInput="ngModel"
        required
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
      />
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" style="font-size:12px;color:red;margin-bottom:6px;">
        <div *ngIf="passwordInput.hasError('minlength')">
          Password must have at least 8 characters
        </div>
      </div>
      
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>
